QWidget {
    color: #dcdcdc;
    font-family: Arial, "Courier New", monospace;
    font-size: 14px;
}


QMainWindow {
    background-color: rgba(30, 30, 30, 100); /* полупрозрачный тёмный фон */
    padding: 10px;
}

QPushButton {
    background-color: #2a2a2a;
    color: #dddddd;
    border: none;
    text-align: left;
    font-size: 14px;
    margin: 0px;
}

* {
    margin: 0;
    padding: 0;
}