QWidget {
    color: #dcdcdc;
    font-family: "Segoe UI";
}


QMainWindow {
    background-color: #F8F8F8;
    padding: 10px;
}

QPushButton {
    background-color: #2a2a2a;
    color: #dddddd;
    border: none;
    text-align: left;
    font-size: 14px;
    margin: 0px;
}

* {
    margin: 0;
    padding: 0;
}